KafkaRawToHDFS/KafkaRawToHDFS.xml
<?xml version="1.0" encoding="UTF-8"?>
<template>
  <description>This is a processor group template to pull from a single Kafka Topic continuously and write raw output to hdfs.</description>
  <name>KafkaRawToHDFS</name>
  <snippet>
    <processGroups>
      <id>14f81c8e-b32c-430f-90a1-bd0c5dd28fc7</id>
      <parentGroupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</parentGroupId>
      <position>
        <x>485.76009595593666</x>
        <y>19.01642682581172</y>
      </position>
      <activeRemotePortCount>0</activeRemotePortCount>
      <comments>Processor Group Template to pull from Kafka Topic continuously and write raw output to hdfs. This processor could be modified and updated to add any required metadata.</comments>
      <contents>
        <connections>
          <id>116e5f2e-9116-48c5-85cf-8ed8519717c4</id>
          <parentGroupId>14f81c8e-b32c-430f-90a1-bd0c5dd28fc7</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>14f81c8e-b32c-430f-90a1-bd0c5dd28fc7</groupId>
            <id>327834e3-21d8-4c10-97da-796072c65da2</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name>
          </name>
          <selectedRelationships>merged</selectedRelationships>
          <source>
            <groupId>14f81c8e-b32c-430f-90a1-bd0c5dd28fc7</groupId>
            <id>926d0926-2a2b-4a58-be19-58a91d9d0315</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>e1040c24-4d2c-4137-8d33-f408572e0a97</id>
          <parentGroupId>14f81c8e-b32c-430f-90a1-bd0c5dd28fc7</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>14f81c8e-b32c-430f-90a1-bd0c5dd28fc7</groupId>
            <id>19da0cc1-ea9d-4466-ac04-1a0bd083fa8c</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name>
          </name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>14f81c8e-b32c-430f-90a1-bd0c5dd28fc7</groupId>
            <id>327834e3-21d8-4c10-97da-796072c65da2</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>8bd99145-65ef-44fd-947a-3b3c5d94179f</id>
          <parentGroupId>14f81c8e-b32c-430f-90a1-bd0c5dd28fc7</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>14f81c8e-b32c-430f-90a1-bd0c5dd28fc7</groupId>
            <id>926d0926-2a2b-4a58-be19-58a91d9d0315</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name>
          </name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>14f81c8e-b32c-430f-90a1-bd0c5dd28fc7</groupId>
            <id>4e6e8320-9ffa-4264-8ed0-6fee4451f943</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <labels>
          <id>35726778-eca0-4a99-bdf1-59abd0edf8d6</id>
          <parentGroupId>14f81c8e-b32c-430f-90a1-bd0c5dd28fc7</parentGroupId>
          <position>
            <x>176.67022884592325</x>
            <y>-8.739845255447506</y>
          </position>
          <height>52.00000762939453</height>
          <label>TODO: Add timestamp and topic name as metadata to kafka topic and update &quot;UpdateAttribute&quot; processor to use uuid instead of timestamp for filename uniqueness.</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>12px</value>
            </entry>
            <entry>
              <key>background-color</key>
              <value>#9195ff</value>
            </entry>
          </style>
          <width>393.0</width>
        </labels>
        <processors>
          <id>4e6e8320-9ffa-4264-8ed0-6fee4451f943</id>
          <parentGroupId>14f81c8e-b32c-430f-90a1-bd0c5dd28fc7</parentGroupId>
          <position>
            <x>-347.32975767861393</x>
            <y>-350.7398301936539</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments>Pull from kafka.Required fields here are Topic and Zookeeper connection string. Everything else should be tweaked as needed.</comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <defaultConcurrentTasks>
              <entry>
                <key>TIMER_DRIVEN</key>
                <value>1</value>
              </entry>
              <entry>
                <key>EVENT_DRIVEN</key>
                <value>0</value>
              </entry>
              <entry>
                <key>CRON_DRIVEN</key>
                <value>1</value>
              </entry>
            </defaultConcurrentTasks>
            <defaultSchedulingPeriod>
              <entry>
                <key>TIMER_DRIVEN</key>
                <value>0 sec</value>
              </entry>
              <entry>
                <key>CRON_DRIVEN</key>
                <value>* * * * * ?</value>
              </entry>
            </defaultSchedulingPeriod>
            <descriptors>
              <entry>
                <key>ZooKeeper Connection String</key>
                <value>
                  <description>The Connection String to use in order to connect to ZooKeeper. This is often a comma-separated list of &lt;host&gt;:&lt;port&gt; combinations. For example, host1:2181,host2:2181,host3:2188</description>
                  <displayName>ZooKeeper Connection String</displayName>
                  <dynamic>false</dynamic>
                  <name>ZooKeeper Connection String</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Topic Name</key>
                <value>
                  <description>The Kafka Topic to pull messages from</description>
                  <displayName>Topic Name</displayName>
                  <dynamic>false</dynamic>
                  <name>Topic Name</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Zookeeper Commit Frequency</key>
                <value>
                  <defaultValue>60 secs</defaultValue>
                  <description>Specifies how often to communicate with ZooKeeper to indicate which messages have been pulled. A longer time period will result in better overall performance but can result in more data duplication if a NiFi node is lost</description>
                  <displayName>Zookeeper Commit Frequency</displayName>
                  <dynamic>false</dynamic>
                  <name>Zookeeper Commit Frequency</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <defaultValue>1</defaultValue>
                  <description>Specifies the maximum number of messages to combine into a single FlowFile. These messages will be concatenated together with the &lt;Message Demarcator&gt; string placed between the content of each message. If the messages from Kafka should not be concatenated together, leave this value at 1.</description>
                  <displayName>Batch Size</displayName>
                  <dynamic>false</dynamic>
                  <name>Batch Size</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Message Demarcator</key>
                <value>
                  <defaultValue>\n</defaultValue>
                  <description>Specifies the characters to use in order to demarcate multiple messages from Kafka. If the &lt;Batch Size&gt; property is set to 1, this value is ignored. Otherwise, for each two subsequent messages in the batch, this value will be placed in between them.</description>
                  <displayName>Message Demarcator</displayName>
                  <dynamic>false</dynamic>
                  <name>Message Demarcator</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Client Name</key>
                <value>
                  <defaultValue>NiFi-4e6e8320-9ffa-4264-8ed0-6fee4451f943</defaultValue>
                  <description>Client Name to use when communicating with Kafka</description>
                  <displayName>Client Name</displayName>
                  <dynamic>false</dynamic>
                  <name>Client Name</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Group ID</key>
                <value>
                  <defaultValue>4e6e8320-9ffa-4264-8ed0-6fee4451f943</defaultValue>
                  <description>A Group ID is used to identify consumers that are within the same consumer group</description>
                  <displayName>Group ID</displayName>
                  <dynamic>false</dynamic>
                  <name>Group ID</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Kafka Communications Timeout</key>
                <value>
                  <defaultValue>30 secs</defaultValue>
                  <description>The amount of time to wait for a response from Kafka before determining that there is a communications error</description>
                  <displayName>Kafka Communications Timeout</displayName>
                  <dynamic>false</dynamic>
                  <name>Kafka Communications Timeout</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>ZooKeeper Communications Timeout</key>
                <value>
                  <defaultValue>30 secs</defaultValue>
                  <description>The amount of time to wait for a response from ZooKeeper before determining that there is a communications error</description>
                  <displayName>ZooKeeper Communications Timeout</displayName>
                  <dynamic>false</dynamic>
                  <name>ZooKeeper Communications Timeout</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Auto Offset Reset</key>
                <value>
                  <allowableValues>
                    <displayName>smallest</displayName>
                    <value>smallest</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>largest</displayName>
                    <value>largest</value>
                  </allowableValues>
                  <defaultValue>largest</defaultValue>
                  <description>Automatically reset the offset to the smallest or largest offset available on the broker</description>
                  <displayName>Auto Offset Reset</displayName>
                  <dynamic>false</dynamic>
                  <name>Auto Offset Reset</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>ZooKeeper Connection String</key>
                <value>sandbox.hortonworks.com:2181</value>
              </entry>
              <entry>
                <key>Topic Name</key>
                <value>test</value>
              </entry>
              <entry>
                <key>Zookeeper Commit Frequency</key>
              </entry>
              <entry>
                <key>Batch Size</key>
              </entry>
              <entry>
                <key>Message Demarcator</key>
              </entry>
              <entry>
                <key>Client Name</key>
                <value>client_name</value>
              </entry>
              <entry>
                <key>Group ID</key>
                <value>group_id</value>
              </entry>
              <entry>
                <key>Kafka Communications Timeout</key>
              </entry>
              <entry>
                <key>ZooKeeper Communications Timeout</key>
              </entry>
              <entry>
                <key>Auto Offset Reset</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GetKafka</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <description>All FlowFiles that are created are routed to this relationship</description>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style/>
          <supportsEventDriven>false</supportsEventDriven>
          <supportsParallelProcessing>true</supportsParallelProcessing>
          <type>org.apache.nifi.processors.kafka.GetKafka</type>
        </processors>
        <processors>
          <id>19da0cc1-ea9d-4466-ac04-1a0bd083fa8c</id>
          <parentGroupId>14f81c8e-b32c-430f-90a1-bd0c5dd28fc7</parentGroupId>
          <position>
            <x>197.5429446560039</x>
            <y>-350.6315086008625</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments>
            </comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <defaultConcurrentTasks>
              <entry>
                <key>TIMER_DRIVEN</key>
                <value>1</value>
              </entry>
              <entry>
                <key>EVENT_DRIVEN</key>
                <value>0</value>
              </entry>
              <entry>
                <key>CRON_DRIVEN</key>
                <value>1</value>
              </entry>
            </defaultConcurrentTasks>
            <defaultSchedulingPeriod>
              <entry>
                <key>TIMER_DRIVEN</key>
                <value>0 sec</value>
              </entry>
              <entry>
                <key>CRON_DRIVEN</key>
                <value>* * * * * ?</value>
              </entry>
            </defaultSchedulingPeriod>
            <descriptors>
              <entry>
                <key>Hadoop Configuration Resources</key>
                <value>
                  <description>A file or comma separated list of files which contains the Hadoop file system configuration. Without this, Hadoop will search the classpath for a 'core-site.xml' and 'hdfs-site.xml' file or will revert to a default configuration.</description>
                  <displayName>Hadoop Configuration Resources</displayName>
                  <dynamic>false</dynamic>
                  <name>Hadoop Configuration Resources</name>
                  <required>false</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
                <value>
                  <description>Kerberos principal to authenticate as. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description>
                  <displayName>Kerberos Principal</displayName>
                  <dynamic>false</dynamic>
                  <name>Kerberos Principal</name>
                  <required>false</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
                <value>
                  <description>Kerberos keytab associated with the principal. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description>
                  <displayName>Kerberos Keytab</displayName>
                  <dynamic>false</dynamic>
                  <name>Kerberos Keytab</name>
                  <required>false</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Kerberos Relogin Period</key>
                <value>
                  <defaultValue>4 hours</defaultValue>
                  <description>Period of time which should pass before attempting a kerberos relogin</description>
                  <displayName>Kerberos Relogin Period</displayName>
                  <dynamic>false</dynamic>
                  <name>Kerberos Relogin Period</name>
                  <required>false</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Directory</key>
                <value>
                  <description>The parent HDFS directory to which files should be written</description>
                  <displayName>Directory</displayName>
                  <dynamic>false</dynamic>
                  <name>Directory</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>true</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>
                  <allowableValues>
                    <displayName>replace</displayName>
                    <value>replace</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>ignore</displayName>
                    <value>ignore</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>fail</displayName>
                    <value>fail</value>
                  </allowableValues>
                  <defaultValue>fail</defaultValue>
                  <description>Indicates what should happen when a file with the same name already exists in the output directory</description>
                  <displayName>Conflict Resolution Strategy</displayName>
                  <dynamic>false</dynamic>
                  <name>Conflict Resolution Strategy</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Block Size</key>
                <value>
                  <description>Size of each block as written to HDFS. This overrides the Hadoop Configuration</description>
                  <displayName>Block Size</displayName>
                  <dynamic>false</dynamic>
                  <name>Block Size</name>
                  <required>false</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>IO Buffer Size</key>
                <value>
                  <description>Amount of memory to use to buffer file contents during IO. This overrides the Hadoop Configuration</description>
                  <displayName>IO Buffer Size</displayName>
                  <dynamic>false</dynamic>
                  <name>IO Buffer Size</name>
                  <required>false</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Replication</key>
                <value>
                  <description>Number of times that HDFS will replicate each file. This overrides the Hadoop Configuration</description>
                  <displayName>Replication</displayName>
                  <dynamic>false</dynamic>
                  <name>Replication</name>
                  <required>false</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Permissions umask</key>
                <value>
                  <description>A umask represented as an octal number which determines the permissions of files written to HDFS. This overrides the Hadoop Configuration dfs.umaskmode</description>
                  <displayName>Permissions umask</displayName>
                  <dynamic>false</dynamic>
                  <name>Permissions umask</name>
                  <required>false</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Remote Owner</key>
                <value>
                  <description>Changes the owner of the HDFS file to this value after it is written. This only works if NiFi is running as a user that has HDFS super user privilege to change owner</description>
                  <displayName>Remote Owner</displayName>
                  <dynamic>false</dynamic>
                  <name>Remote Owner</name>
                  <required>false</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Remote Group</key>
                <value>
                  <description>Changes the group of the HDFS file to this value after it is written. This only works if NiFi is running as a user that has HDFS super user privilege to change group</description>
                  <displayName>Remote Group</displayName>
                  <dynamic>false</dynamic>
                  <name>Remote Group</name>
                  <required>false</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Compression codec</key>
                <value>
                  <allowableValues>
                    <displayName>NONE</displayName>
                    <value>NONE</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>DEFAULT</displayName>
                    <value>DEFAULT</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>BZIP</displayName>
                    <value>BZIP</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>GZIP</displayName>
                    <value>GZIP</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>LZ4</displayName>
                    <value>LZ4</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>SNAPPY</displayName>
                    <value>SNAPPY</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>AUTOMATIC</displayName>
                    <value>AUTOMATIC</value>
                  </allowableValues>
                  <defaultValue>NONE</defaultValue>
                  <description>
                  </description>
                  <displayName>Compression codec</displayName>
                  <dynamic>false</dynamic>
                  <name>Compression codec</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Hadoop Configuration Resources</key>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
              </entry>
              <entry>
                <key>Kerberos Relogin Period</key>
              </entry>
              <entry>
                <key>Directory</key>
                <value>/</value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>fail</value>
              </entry>
              <entry>
                <key>Block Size</key>
              </entry>
              <entry>
                <key>IO Buffer Size</key>
              </entry>
              <entry>
                <key>Replication</key>
              </entry>
              <entry>
                <key>Permissions umask</key>
              </entry>
              <entry>
                <key>Remote Owner</key>
              </entry>
              <entry>
                <key>Remote Group</key>
              </entry>
              <entry>
                <key>Compression codec</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutHDFS</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <description>Files that could not be written to HDFS for some reason are transferred to this relationship</description>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <description>Files that have been successfully written to HDFS are transferred to this relationship</description>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style/>
          <supportsEventDriven>false</supportsEventDriven>
          <supportsParallelProcessing>true</supportsParallelProcessing>
          <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
        </processors>
        <processors>
          <id>327834e3-21d8-4c10-97da-796072c65da2</id>
          <parentGroupId>14f81c8e-b32c-430f-90a1-bd0c5dd28fc7</parentGroupId>
          <position>
            <x>195.16257824120726</x>
            <y>-114.01029952427672</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments>
            </comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <defaultConcurrentTasks>
              <entry>
                <key>TIMER_DRIVEN</key>
                <value>1</value>
              </entry>
              <entry>
                <key>EVENT_DRIVEN</key>
                <value>0</value>
              </entry>
              <entry>
                <key>CRON_DRIVEN</key>
                <value>1</value>
              </entry>
            </defaultConcurrentTasks>
            <defaultSchedulingPeriod>
              <entry>
                <key>TIMER_DRIVEN</key>
                <value>0 sec</value>
              </entry>
              <entry>
                <key>CRON_DRIVEN</key>
                <value>* * * * * ?</value>
              </entry>
            </defaultSchedulingPeriod>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <description>Regular expression for attributes to be deleted from flowfiles.</description>
                  <displayName>Delete Attributes Expression</displayName>
                  <dynamic>false</dynamic>
                  <name>Delete Attributes Expression</name>
                  <required>false</required>
                  <sensitive>false</sensitive>
                  <supportsEl>true</supportsEl>
                </value>
              </entry>
              <entry>
                <key>filename</key>
                <value>
                  <description>
                  </description>
                  <displayName>filename</displayName>
                  <dynamic>true</dynamic>
                  <name>filename</name>
                  <required>false</required>
                  <sensitive>false</sensitive>
                  <supportsEl>true</supportsEl>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>filename</key>
                <value>${now():format('yyyymmdd_hhmmss')}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <description>All FlowFiles are routed to this relationship</description>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style/>
          <supportsEventDriven>true</supportsEventDriven>
          <supportsParallelProcessing>true</supportsParallelProcessing>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>926d0926-2a2b-4a58-be19-58a91d9d0315</id>
          <parentGroupId>14f81c8e-b32c-430f-90a1-bd0c5dd28fc7</parentGroupId>
          <position>
            <x>-346.3011962003661</x>
            <y>-120.37435295207672</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments>NOTE: The demarcator here is set to \n in plaintext. (i.e I pressed Shift+Return to actually make a new line in the configuration area.)</comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <defaultConcurrentTasks>
              <entry>
                <key>TIMER_DRIVEN</key>
                <value>1</value>
              </entry>
              <entry>
                <key>EVENT_DRIVEN</key>
                <value>0</value>
              </entry>
              <entry>
                <key>CRON_DRIVEN</key>
                <value>1</value>
              </entry>
            </defaultConcurrentTasks>
            <defaultSchedulingPeriod>
              <entry>
                <key>TIMER_DRIVEN</key>
                <value>0 sec</value>
              </entry>
              <entry>
                <key>CRON_DRIVEN</key>
                <value>* * * * * ?</value>
              </entry>
            </defaultSchedulingPeriod>
            <descriptors>
              <entry>
                <key>Merge Strategy</key>
                <value>
                  <allowableValues>
                    <description>Generates 'bins' of FlowFiles and fills each bin as full as possible. FlowFiles are placed into a bin based on their size and optionally their attributes (if the &lt;Correlation Attribute&gt; property is set)</description>
                    <displayName>Bin-Packing Algorithm</displayName>
                    <value>Bin-Packing Algorithm</value>
                  </allowableValues>
                  <allowableValues>
                    <description>Combines fragments that are associated by attributes back into a single cohesive FlowFile. If using this strategy, all FlowFiles must have the attributes &lt;fragment.identifier&gt;, &lt;fragment.count&gt;, and &lt;fragment.index&gt; or alternatively (for backward compatibility purposes) &lt;segment.identifier&gt;, &lt;segment.count&gt;, and &lt;segment.index&gt;. All FlowFiles with the same value for &quot;fragment.identifier&quot; will be grouped together. All FlowFiles in this group must have the same value for the &quot;fragment.count&quot; attribute. All FlowFiles in this group must have a unique value for the &quot;fragment.index&quot; attribute between 0 and the value of the &quot;fragment.count&quot; attribute.</description>
                    <displayName>Defragment</displayName>
                    <value>Defragment</value>
                  </allowableValues>
                  <defaultValue>Bin-Packing Algorithm</defaultValue>
                  <description>Specifies the algorithm used to merge content. The 'Defragment' algorithm combines fragments that are associated by attributes back into a single cohesive FlowFile. The 'Bin-Packing Algorithm' generates a FlowFile populated by arbitrarily chosen FlowFiles</description>
                  <displayName>Merge Strategy</displayName>
                  <dynamic>false</dynamic>
                  <name>Merge Strategy</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>
                  <allowableValues>
                    <description>A bin of FlowFiles will be combined into a single TAR file. The FlowFiles' &lt;path&gt; attribute will be used to create a directory in the TAR file if the &lt;Keep Paths&gt; property is set to true; otherwise, all FlowFiles will be added at the root of the TAR file. If a FlowFile has an attribute named &lt;tar.permissions&gt; that is 3 characters, each between 0-7, that attribute will be used as the TAR entry's 'mode'.</description>
                    <displayName>TAR</displayName>
                    <value>TAR</value>
                  </allowableValues>
                  <allowableValues>
                    <description>A bin of FlowFiles will be combined into a single ZIP file. The FlowFiles' &lt;path&gt; attribute will be used to create a directory in the ZIP file if the &lt;Keep Paths&gt; property is set to true; otherwise, all FlowFiles will be added at the root of the ZIP file. The &lt;Compression Level&gt; property indicates the ZIP compression to use.</description>
                    <displayName>ZIP</displayName>
                    <value>ZIP</value>
                  </allowableValues>
                  <allowableValues>
                    <description>A bin of FlowFiles will be combined into a single Version 3 FlowFile Stream</description>
                    <displayName>FlowFile Stream, v3</displayName>
                    <value>FlowFile Stream, v3</value>
                  </allowableValues>
                  <allowableValues>
                    <description>A bin of FlowFiles will be combined into a single Version 2 FlowFile Stream</description>
                    <displayName>FlowFile Stream, v2</displayName>
                    <value>FlowFile Stream, v2</value>
                  </allowableValues>
                  <allowableValues>
                    <description>A bin of FlowFiles will be combined into a single Version 1 FlowFile Package</description>
                    <displayName>FlowFile Tar, v1</displayName>
                    <value>FlowFile Tar, v1</value>
                  </allowableValues>
                  <allowableValues>
                    <description>The contents of all FlowFiles will be concatenated together into a single FlowFile</description>
                    <displayName>Binary Concatenation</displayName>
                    <value>Binary Concatenation</value>
                  </allowableValues>
                  <allowableValues>
                    <description>The Avro contents of all FlowFiles will be concatenated together into a single FlowFile</description>
                    <displayName>Avro</displayName>
                    <value>Avro</value>
                  </allowableValues>
                  <defaultValue>Binary Concatenation</defaultValue>
                  <description>Determines the format that will be used to merge the content.</description>
                  <displayName>Merge Format</displayName>
                  <dynamic>false</dynamic>
                  <name>Merge Format</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>
                  <allowableValues>
                    <displayName>Keep Only Common Attributes</displayName>
                    <value>Keep Only Common Attributes</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>Keep All Unique Attributes</displayName>
                    <value>Keep All Unique Attributes</value>
                  </allowableValues>
                  <defaultValue>Keep Only Common Attributes</defaultValue>
                  <description>Determines which FlowFile attributes should be added to the bundle. If 'Keep All Unique Attributes' is selected, any attribute on any FlowFile that gets bundled will be kept unless its value conflicts with the value from another FlowFile. If 'Keep Only Common Attributes' is selected, only the attributes that exist on all FlowFiles in the bundle, with the same value, will be preserved.</description>
                  <displayName>Attribute Strategy</displayName>
                  <dynamic>false</dynamic>
                  <name>Attribute Strategy</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
                <value>
                  <description>If specified, like FlowFiles will be binned together, where 'like FlowFiles' means FlowFiles that have the same value for this Attribute. If not specified, FlowFiles are bundled by the order in which they are pulled from the queue.</description>
                  <displayName>Correlation Attribute Name</displayName>
                  <dynamic>false</dynamic>
                  <name>Correlation Attribute Name</name>
                  <required>false</required>
                  <sensitive>false</sensitive>
                  <supportsEl>true</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>
                  <defaultValue>1</defaultValue>
                  <description>The minimum number of files to include in a bundle</description>
                  <displayName>Minimum Number of Entries</displayName>
                  <dynamic>false</dynamic>
                  <name>Minimum Number of Entries</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>
                  <description>The maximum number of files to include in a bundle. If not specified, there is no maximum.</description>
                  <displayName>Maximum Number of Entries</displayName>
                  <dynamic>false</dynamic>
                  <name>Maximum Number of Entries</name>
                  <required>false</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>
                  <defaultValue>0 B</defaultValue>
                  <description>The minimum size of for the bundle</description>
                  <displayName>Minimum Group Size</displayName>
                  <dynamic>false</dynamic>
                  <name>Minimum Group Size</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
                <value>
                  <description>The maximum size for the bundle. If not specified, there is no maximum.</description>
                  <displayName>Maximum Group Size</displayName>
                  <dynamic>false</dynamic>
                  <name>Maximum Group Size</name>
                  <required>false</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>
                  <description>The maximum age of a Bin that will trigger a Bin to be complete. Expected format is &lt;duration&gt; &lt;time unit&gt; where &lt;duration&gt; is a positive integer and time unit is one of seconds, minutes, hours</description>
                  <displayName>Max Bin Age</displayName>
                  <dynamic>false</dynamic>
                  <name>Max Bin Age</name>
                  <required>false</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>
                  <defaultValue>100</defaultValue>
                  <description>Specifies the maximum number of bins that can be held in memory at any one time</description>
                  <displayName>Maximum number of Bins</displayName>
                  <dynamic>false</dynamic>
                  <name>Maximum number of Bins</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>
                  <allowableValues>
                    <description>The values of Header, Footer, and Demarcator will be retrieved from the contents of a file</description>
                    <displayName>Filename</displayName>
                    <value>Filename</value>
                  </allowableValues>
                  <allowableValues>
                    <description>The values of Header, Footer, and Demarcator will be specified as property values</description>
                    <displayName>Text</displayName>
                    <value>Text</value>
                  </allowableValues>
                  <defaultValue>Filename</defaultValue>
                  <description>Determines if Header, Footer, and Demarcator should point to files containing the respective content, or if the values of the properties should be used as the content.</description>
                  <displayName>Delimiter Strategy</displayName>
                  <dynamic>false</dynamic>
                  <name>Delimiter Strategy</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Header File</key>
                <value>
                  <description>Filename specifying the header to use. If not specified, no header is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.</description>
                  <displayName>Header</displayName>
                  <dynamic>false</dynamic>
                  <name>Header File</name>
                  <required>false</required>
                  <sensitive>false</sensitive>
                  <supportsEl>true</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Footer File</key>
                <value>
                  <description>Filename specifying the footer to use. If not specified, no footer is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.</description>
                  <displayName>Footer</displayName>
                  <dynamic>false</dynamic>
                  <name>Footer File</name>
                  <required>false</required>
                  <sensitive>false</sensitive>
                  <supportsEl>true</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
                  <description>Filename specifying the demarcator to use. If not specified, no demarcator is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.</description>
                  <displayName>Demarcator</displayName>
                  <dynamic>false</dynamic>
                  <name>Demarcator File</name>
                  <required>false</required>
                  <sensitive>false</sensitive>
                  <supportsEl>true</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>
                  <allowableValues>
                    <displayName>0</displayName>
                    <value>0</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>1</displayName>
                    <value>1</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>2</displayName>
                    <value>2</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>3</displayName>
                    <value>3</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>4</displayName>
                    <value>4</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>5</displayName>
                    <value>5</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>6</displayName>
                    <value>6</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>7</displayName>
                    <value>7</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>8</displayName>
                    <value>8</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>9</displayName>
                    <value>9</value>
                  </allowableValues>
                  <defaultValue>1</defaultValue>
                  <description>Specifies the compression level to use when using the Zip Merge Format; if not using the Zip Merge Format, this value is ignored</description>
                  <displayName>Compression Level</displayName>
                  <dynamic>false</dynamic>
                  <name>Compression Level</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>
                  <allowableValues>
                    <displayName>true</displayName>
                    <value>true</value>
                  </allowableValues>
                  <allowableValues>
                    <displayName>false</displayName>
                    <value>false</value>
                  </allowableValues>
                  <defaultValue>false</defaultValue>
                  <description>If using the Zip or Tar Merge Format, specifies whether or not the FlowFiles' paths should be included in their entry names; if using other merge strategy, this value is ignored</description>
                  <displayName>Keep Path</displayName>
                  <dynamic>false</dynamic>
                  <name>Keep Path</name>
                  <required>true</required>
                  <sensitive>false</sensitive>
                  <supportsEl>false</supportsEl>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Merge Strategy</key>
              </entry>
              <entry>
                <key>Merge Format</key>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>64 KB</value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
              </entry>
              <entry>
                <key>Max Bin Age</key>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>100000</value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Header File</key>
              </entry>
              <entry>
                <key>Footer File</key>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
              </entry>
              <entry>
                <key>Keep Path</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>MergeContent</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <description>If the bundle cannot be created, all FlowFiles that would have been used to created the bundle will be transferred to failure</description>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <description>The FlowFile containing the merged content</description>
            <name>merged</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <description>The FlowFiles that were used to create the bundle</description>
            <name>original</name>
          </relationships>
          <state>STOPPED</state>
          <style/>
          <supportsEventDriven>false</supportsEventDriven>
          <supportsParallelProcessing>true</supportsParallelProcessing>
          <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
      </contents>
      <disabledCount>0</disabledCount>
      <inactiveRemotePortCount>0</inactiveRemotePortCount>
      <inputPortCount>0</inputPortCount>
      <invalidCount>0</invalidCount>
      <name>KafkaRawToHDFS</name>
      <outputPortCount>0</outputPortCount>
      <parent>
        <id>7c84501d-d10c-407c-b9f3-1d80e38fe36a</id>
        <name>NiFi Flow</name>
      </parent>
      <runningCount>0</runningCount>
      <stoppedCount>4</stoppedCount>
    </processGroups>
  </snippet>
  <timestamp>06/03/2016 15:39:09 UTC</timestamp>
</template>
